@model ProjEscola.Models.ProjTurma

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjTurma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeTurma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeTurma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioTurma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioTurma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataTerminoTurma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataTerminoTurma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTurma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoTurma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioTurma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioTurma)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
