@model TurmaTipoViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-controller="ProjTurmas" asp-action="Index">
    <p>

        <select asp-for="TipoTurma" asp-items="Model.Tipos">
            <option value="">All</option>
        </select>


        Title: <input type="text" asp-for="SearchString"/>
        <input type="submit" value="Filter" />
    </p>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Turmas[0].NomeTurma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turmas[0].DataInicioTurma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turmas[0].DataTerminoTurma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turmas[0].TipoTurma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turmas[0].HorarioTurma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Turmas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTurma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioTurma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataTerminoTurma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTurma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioTurma)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
