@model ProjEscola.Models.ProjProfessor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjProfessor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProfessor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProfessor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailProfessor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailProfessor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorHoraProfessor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorHoraProfessor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisponibilidadeHorarioProfessor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisponibilidadeHorarioProfessor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificadosProfessor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificadosProfessor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
