@model IEnumerable<ProjEscola.Models.ProjProfessor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProfessor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailProfessor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorHoraProfessor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisponibilidadeHorarioProfessor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificadosProfessor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProfessor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailProfessor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorHoraProfessor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisponibilidadeHorarioProfessor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificadosProfessor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
